<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Mis autos</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/auto">Autos</a></li>
                <li class="nav-item"><a class="nav-link" href="/formDocente">Formulario de Docente</a></li>
                <li class="nav-item"><a class="nav-link" href="/tablaDocente">Tabla de Docente</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mt-4">
        <h2 class="display-4">Datos del Auto (Formulario)</h2>

        <form>

            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" id="marca" name="marca" th:value="${auto.marca}" >
            </div>

            <div class="form-group">
                <label for="patente">Patente:</label>
                <input type="text" class="form-control" id="patente" name="marca" th:value="${auto.patente}" >
            </div>

            <input type="text">

            <button type="submit" class="btn btn-primary" disabled>Enviar (Datos precargados)</button>
        </form>
    </main>

    <footer class="bg-light text-center py-3 mt-4">
        <p class="mb-0">Creado por Iván</p>
    </footer>

</body>

</html>