<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
    <title>Mis autos</title>
</head>
<body>
 
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/auto">Autos</a></li>
                <li class="nav-item"><a class="nav-link" href="/formDocente">Formulario de Docente</a></li>
                <li class="nav-item"><a class="nav-link" href="/tablaDocente">Tabla de Docente</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mt-4"> 
        <h1 class="display-1">Título Principal</h1>
 
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/NQYPAWNP4BGNTFK3YOIJACLHM.jpg" alt="Imagen de ejemplo" class="imagenAuto img-fluid rounded">
        <button >enviar formulario</button>
        <iframe></iframe>






<div style="position: relative; width: 100%; height: 0; padding-top: 56.2225%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAG0kf2MKMM/aXswhcoQ-DZ_i5EergsQKA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAG0kf2MKMM&#x2F;aXswhcoQ-DZ_i5EergsQKA&#x2F;view?utm_content=DAG0kf2MKMM&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">nav var con los siguientes botones ( INICIO , FORMULARIO , TABLA, ACERCA DE MI )</a> de Ivan Cruz







<iframe width="560" height="315" src="https://www.youtube.com/embed/VhPH6phW8Nw?si=qkzl681U10A1Nc59" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    </main>

    <footer class="bg-light text-center py-3 mt-4">
        <p class="mb-0">Creado por Iván</p>
    </footer>

</body>
</html>