<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>


        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/auto">Autos</a></li>
                <li><a href="/formDocente">formulario de docente</a></li>
                <li><a href="/tablaDocente">formulario de DOCENTE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <label for="">nombre</label>
<input type="text">

<label for="">apellido</label>
<input type="text">

<label for="">dni</label>
<input type="text">

<label for="">hora</label>
<input type="text">






    </main>
    <footer>
        <p>hecho por ivan cruz 2025</p>
    </footer>
</body>
</html>