<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
</head>


<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/auto">Autos</a></li>
            </ul>
        </nav>
    </header>

    <main>



        <iframe width="560" height="315" src="https://www.youtube.com/embed/b0ALPdYzMeA?si=N_xTk2Vn77wFjdR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>




        <h1>Título Principal</h1>
        <p>Este es un párrafo de texto. HTML es el lenguaje que estructura nuestra página web, organizando el contenido de forma semántica.</p>
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/NQYPAWNP4BGNTFK3YOIJACWLHM.jpg" alt="Imagen de ejemplo">
        
        <h2>Ejemplo de Tabla</h2>
        <table>
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Toyota</td>
                    <td>Corolla</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>Mustang</td>
                </tr>
            </tbody>
        </table>

        <h2>Video de Youtube</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        
        <br>
        <button>Haz clic aquí</button>

    </main>

    <footer>
        <p>Creado por Iván</p>
    </footer>

</body>
</html>